h1,
h2,
h3,
span,
p,
a {
  font-family: $poppins;
}

.span {
  display: block;
}

h2 {
  font-size: 38px;
  font-weight: $semi;
  color: $gray;

  @include phone {
    font-size: 31px;
    line-height: 35px;
  }
}
