@mixin tablet {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

@mixin small_tablet {
  @media screen and (max-width: 975px) {
    @content;
  }
}

@mixin phone {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin after {
  &::after {
    @content;
  }
}

@mixin before {
  &::before {
    @content;
  }
}

@mixin hover {
  &:hover {
    @content;
  }
}

@mixin underline_start {
  content: "";
  height: 2px;
  width: 0%;
  background-color: $light_blue;
  display: block;
  transition: $normal;
}

@mixin underline_finish {
  content: "";
  height: 2px;
  width: 100%;
  background-color: $light_blue;
  display: block;
  transition: $normal;
}
