//Colors
$white: rgba(255, 255, 255, 1);
$black: rgba(0, 0, 0, 1);
$black_transparent: rgba(0, 0, 0, 0.8);
$light_blue: rgba(52, 152, 219, 1.0);

//Fonts
$poppins: "Poppins";

//Weights
$regular: 400;
$bold: 700;
$light: 300;

//Transitions
$normal: 0.6s all ease-in-out;