//Colors
$white: rgba(255, 255, 255, 1);
$black: rgba(0, 0, 0, 1);
$black_transparent: rgba(0, 0, 0, 0.6);
$black_cool: rgba(2, 4, 3, 1);
$light_blue: rgba(52, 152, 219, 1);
$deep_blue: rgba(58, 68, 112, 255);
$gray: rgba(128, 128, 128, 1);

//Fonts
$poppins: "Poppins";

//Weights
$light: 300;
$regular: 400;
$semi: 500;
$bold: 700;

//Transitions
$normal: 0.6s all ease-in-out;
