//Colors
$white: rgba(255, 255, 255, 1);
$white_transparent: rgba(255, 255, 255, 0.6);
$white_half: rgba(255, 255, 255, 0.7);
$black: rgba(0, 0, 0, 1);
$black_transparent: rgba(0, 0, 0, 0.6);
$black_quality: rgba(22, 22, 22, 1);
$light_blue: rgba(52, 152, 219, 1);
$deep_blue: rgba(58, 68, 112, 255);
$dark_blue: rgba(16, 36, 68, 1);
$gray: rgba(128, 128, 128, 1);
$light_gray: rgba(128, 128, 128, 0.8);
$low_gray: rgba(128, 128, 128, 0.5);
$vine_red: rgba(153, 0, 0, 1);
$gold: rgba(184, 134, 11, 1);

//Fonts
$poppins: "Poppins";

//Weights
$light: 300;
$regular: 400;
$semi: 500;
$bold: 700;

//Transitions
$normal: 0.6s all ease-in-out;
