.banner {
  position: relative;
  z-index: 1;
  margin-top: -95px;
  padding: 325px 0;

  @include background;

  @include after {
    @include darker;

    background-color: $black;
    opacity: 0.5;
  }

  @include phone {
    padding: 200px 0;
  }
}

.banner__text {
  position: relative;
  z-index: 20;
  max-width: 573px;

  @include phone {
    max-width: 284px;
  }
}

.banner__title,
.banner__lines {
  color: $white;
}

.banner__title {
  font-size: 62px;
  font-weight: $bold;
  margin-bottom: 15px;

  @include phone {
    font-size: 34px;
  }
}

.banner__lines {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 20px;

  @include phone {
    font-size: 14px;
    line-height: 21px;
  }
}

.banner__title-colored {
  color: $light_blue;
}
