.offers {
  background-color: $black_quality;
  padding: 50px 0;
  overflow: hidden;

  .h2 {
    color: $white;
  }
}

.offers__join-text {
  text-align: center;
  margin: 0 auto 80px auto;
  max-width: 1024px;
}

.offers__join-title {
  color: $white;
  margin-bottom: 14px;
}

.offers__join-lines {
  color: $white;
  line-height: 25px;

  @include phone {
    font-size: 14px;
  }
}

.offers__steps-title {
  position: relative;
  color: $white;
  text-align: center;
  font-size: 20px;
  padding-bottom: 20px;
  margin-bottom: 50px;

  @include after {
    @include title_line;

    width: 80px;
    height: 2px;
  }
}

.offers__steps-cards {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -30px;
  padding-bottom: 50px;

  @include phone {
    padding-bottom: 10px;
  }
}

.offers__steps-card {
  position: relative;
  margin: 0 30px 20px 30px;
  max-width: calc(33.33% - 60px);
  flex: 1 1 calc(33.33% - 60px);
  min-height: 400px;
  border-radius: 10px;

  @include background;

  @include after {
    @include darker;

    background-color: $black;
    opacity: 0.2;
    border-radius: 10px;
  }

  @include hover {
    .offers__steps-text {
      min-height: 250px;
      background-color: $white_half;
    }

    @include after {
      background-color: $black;
      opacity: 0.6;
      transition: $normal;
    }
  }

  @include tablet {
    max-width: 100%;
    flex: 1 1 100%;
  }
}

.offers__steps-link,
.offers__buyed-link,
.offers__other-link {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  z-index: 20;
}

.offers__buyed-link--small {
  min-height: 305px;
}

.offers__steps-text {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 20;
  background-color: $white_transparent;
  border-radius: 0 0 10px 10px;
  width: 100%;
  min-height: 150px;
  padding: 17px;
  color: $black;
  transition: $normal;
}

.offers__steps-number {
  display: block;
  font-weight: $bold;
  margin-bottom: 15px;
}

.offers__steps-interpretation {
  display: flex;
  align-items: center;
  font-weight: $semi;
  margin-bottom: 20px;
}

.offers__steps-icon {
  display: block;
  font-size: 30px;
  color: $black;
  margin-right: 15px;
}

.offers__steps-name,
.offers__buyed-title {
  font-size: 19px;
  font-weight: $bold;
}

.offers__steps-lines {
  line-height: 25px;
  font-size: 17px;

  @include phone {
    font-size: 14px;
    line-height: 22px;
  }
}

.offers__second-join {
  margin-bottom: 50px;
}

.offers__second-title {
  position: relative;
  text-align: center;
  color: $white;
  padding-bottom: 20px;

  @include after {
    @include title_line;

    width: 80px;
    height: 2px;
  }
}

.offers__buyed-phone {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
  padding-bottom: 40px;

  @include tablet {
    flex-direction: column;
  }
}

.offers__buyed-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 50%;
  flex: 1 1 50%;

  @include tablet {
    max-width: 100%;
    flex: 1 1 100%;
  }
}

.offers__buyed-list--small {
  @include phone {
    flex-direction: column;
  }
}

.offers__buyed-card {
  position: relative;
  border-radius: 10px;

  @include background;

  @include after {
    @include darker;

    background-color: $black;
    opacity: 0.2;
    border-radius: 10px;
  }

  @include hover {
    .offers__buyed-text--large {
      min-height: 230px;
    }

    .offers__buyed-text--small {
      min-height: 200px;
    }

    @include after {
      background-color: $black;
      opacity: 0.7;
      transition: $normal;
    }
  }
}

.offers__buyed-card--large {
  margin: 0 10px 10px 10px;
  min-height: 500px;
  max-width: calc(100% - 20px);
  flex: 1 1 calc(100% - 20px);

  @include tablet {
    margin: 0 10px 20px 10px;
  }
}

.offers__buyed-card--small {
  margin: 0px 10px 10px 10px;
  max-width: calc(50% - 20px);
  flex: 1 1 calc(50% - 20px);
  min-height: 305px;

  @include phone {
    max-width: 100%;
    flex: 1 1 100%;
    margin: 0 10px 20px 10px;
  }
}

.offers__buyed-text,
.offers__buyed-text--small {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: $white_transparent;
  width: 100%;
  border-radius: 0 0 10px 10px;
}

.offers__buyed-text {
  min-height: 150px;
  padding: 20px;
  transition: $normal;
}

.offers__buyed-text--small {
  min-height: 100px;
}

.offers__buyed-interpretation {
  display: flex;
  align-items: center;
  color: $black;
  font-weight: $bold;
  margin-bottom: 15px;
}

.offers__buyed-icon {
  font-size: 30px;
  margin-right: 20px;
}

.offers__buyed-lines {
  color: $black;
  line-height: 25px;
  font-weight: $semi;

  @include phone {
    font-size: 14px;
    line-height: 22px;
  }
}

.offers__third-join {
  text-align: center;
  margin-bottom: 50px;
}

.offers__third-title {
  position: relative;
  padding-bottom: 20px;

  @include after {
    width: 80px;
    height: 2px;

    @include title_line;
  }
}

.offers__other-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px;
}

.offers__other-item {
  position: relative;
  margin: 0 20px 20px 20px;
  max-width: calc(50% - 40px);
  flex: 1 1 calc(50% - 40px);
  border-radius: 10px;

  @include background;

  @include after {
    @include darker;

    background-color: $black;
    opacity: 0.5;
    border-radius: 10px;
  }

  @include hover {
    .offers__other-text {
      transform: scale(1.08);
      transition: $normal;
    }
  }

  @include tablet {
    max-width: 100%;
    flex: 1 1 100%;

    @include hover {
      .offers__other-text {
        transform: scale(1.03);
      }
    }
  }
}

.offers__other-link {
  padding: 0 10px;
}

.offers__other-text {
  position: relative;
  padding: 325px 0;
  color: $white;
  z-index: 15;
  text-align: center;
  max-width: 700px;
  margin: 0 auto;

  @include phone {
    padding: 125px 0;
  }
}

.offers__other-name {
  display: block;
  font-size: 50px;
  font-weight: $bold;
  margin-bottom: 20px;

  @include phone {
    font-size: 45px;
    margin-bottom: 10px;
  }
}

.offers__other-lines {
  line-height: 23px;

  @include phone {
    font-size: 14px;
  }
}
