.offers {
  background-color: $black_cool;
  padding: 50px 0;
}

.offers__join-text {
  text-align: center;
  margin: 0 auto;
  max-width: 1024px;
}

.offers__join-title {
  color: $white;
  margin-bottom: 14px;
}

.offers__join-lines {
  color: $white;
  line-height: 25px;
}
